.header {
  width: 100%;
  height: 100px;

  background-color: #292929;

  display: flex;
  align-items: center;
}

.h__itens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fefefe;
}

.hi__logo {
  display: flex;
  align-items: baseline;
}

.hil__wave {
  font-weight: 700;
  margin-right: 8px;
  font-size: 3rem;
  line-height: 1em;
}

.hil__labs {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.8rem;

  color: orange;
}

.hin__link {
  text-decoration: none;
  color: #fefefe;
  opacity: .9;
  margin: 0 16px;

  transition-property: opacity;
  transition-duration: .2s;
}

.hin__link:hover {
  opacity: 1;
}

@media screen and (max-width: 780px) {
  .hi__nav {
    display: none;
  }
}
